

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #ccc;
}

[class*=col-]{
    float: left;
    border: 1px solid black;
    padding: 10px;
    
}

.fila{
    position: relative;
    margin:auto ;
    width: 100%;
    height: auto;
}

.contenedor{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;

}
/*======================================
PANTALLA DE ESCRITORIO - LARGE (lg) 
========================================*/

@media(min-width:1200px){
    .col-lg-12{
        width: 100%; /* 100% del ancho del contenedor */
    }
    .col-lg-6{
        width: 50%; /* 50% del ancho del contenedor */
    }
    .col-lg-4{
        width: 33.33333333%; /* 33.33333333% del ancho del contenedor */
    }
    .col-lg-3{
        width: 25%; /* 25% del ancho del contenedor */
    }
    .col-lg-9{
        width: 75%; /* 75% del ancho del contenedor */
    }
    .col-lg-7{
        width: 58.33333333%; /* 58.33333333% del ancho del contenedor */
    }
    .col-lg-5{
        width: 41.66666666%; /* 41.66666666% del ancho del contenedor */
    }
    .col-lg-8{
        width: 66.66666666%; /* 66.66666666% del ancho del contenedor */
    }
    .col-lg-2{
        width: 16.66666666%; /* 16.66666666% del ancho del contenedor */
    }
    .col-lg-1{
        width: 8.33333333%; /* 8.33333333% del ancho del contenedor */
    }
}

/*======================================
PANTALLA DE ESCRITORIO - MEDIUM (md)  
========================================*/
@media(max-width:1199px) and (min-width:992px){
    .col-md-12{
        width: 100%; /* 100% del ancho del contenedor */
    }
    .col-md-6{
        width: 50%; /* 50% del ancho del contenedor */
    }
    .col-md-4{
        width: 33.33333333%; /* 33.33333333% del ancho del contenedor */
    }
    .col-md-3{
        width: 25%; /* 25% del ancho del contenedor */
    }
    .col-md-9{
        width: 75%; /* 75% del ancho del contenedor */
    }
    .col-md-7{
        width: 58.33333333%; /* 58.33333333% del ancho del contenedor */
    }
    .col-md-5{
        width: 41.66666666%; /* 41.66666666% del ancho del contenedor */
    }
    .col-md-8{
        width: 66.66666666%; /* 66.66666666% del ancho del contenedor */
    }
    .col-md-2{
        width: 16.66666666%; /* 16.66666666% del ancho del contenedor */
    }
    .col-md-1{
        width: 8.33333333%; /* 8.33333333% del ancho del contenedor */
    }
}


/*======================================
PANTALLA DE ESCRITORIO - SMALL (sm)  
========================================*/


@media(max-width:991px) and (min-width:768px){
    .col-sm-12{
        width: 100%; /* 100% del ancho del contenedor */
    }
    .col-sm-6{
        width: 50%; /* 50% del ancho del contenedor */
    }
    .col-sm-4{
        width: 33.33333333%; /* 33.33333333% del ancho del contenedor */
    }
    .col-sm-3{
        width: 25%; /* 25% del ancho del contenedor */
    }
    .col-sm-9{
        width: 75%; /* 75% del ancho del contenedor */
    }
    .col-sm-7{
        width: 58.33333333%; /* 58.33333333% del ancho del contenedor */
    }
    .col-sm-5{
        width: 41.66666666%; /* 41.66666666% del ancho del contenedor */
    }
    .col-sm-8{
        width: 66.66666666%; /* 66.66666666% del ancho del contenedor */
    }
    .col-sm-2{
        width: 16.66666666%; /* 16.66666666% del ancho del contenedor */
    }
    .col-sm-1{
        width: 8.33333333%; /* 8.33333333% del ancho del contenedor */
    }
}







/*======================================
PANTALLA DE phones - EXTRASMALL (xs)  
========================================*/
@media(max-width:767px){
    .col-xs-12{
        width: 100%; /* 100% del ancho del contenedor */
    }
    .col-xs-6{
        width: 50%; /* 50% del ancho del contenedor */
    }
    .col-xs-4{
        width: 33.33333333%; /* 33.33333333% del ancho del contenedor */
    }
    .col-xs-3{
        width: 25%; /* 25% del ancho del contenedor */
    }
    .col-xs-9{
        width: 75%; /* 75% del ancho del contenedor */
    }
    .col-xs-7{
        width: 58.33333333%; /* 58.33333333% del ancho del contenedor */
    }
    .col-xs-5{
        width: 41.66666666%; /* 41.66666666% del ancho del contenedor */
    }
    .col-xs-8{
        width: 66.66666666%; /* 66.66666666% del ancho del contenedor */
    }
    .col-xs-2{
        width: 16.66666666%; /* 16.66666666% del ancho del contenedor */
    }
    .col-xs-1{
        width: 8.33333333%; /* 8.33333333% del ancho del contenedor */
    }
}